<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    
   <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of dobivenePosudbe" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label.narucitelj }}</ion-label>
            <ion-label>{{ label.grada }}</ion-label>
            <ion-label>{{ label.odsjek }}</ion-label>

          </ion-item>
        </ion-list> 
  </div>
</ion-content>
