<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-col>

<ion-item>
  <ion-label>E-mail</ion-label>
  <ion-input [(ngModel)]="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label>password</ion-label>
  <ion-input [(ngModel)]="password"></ion-input>
</ion-item>

<ion-item>
  <ion-button (click)="login()">Login</ion-button>
</ion-item>

<ion-item>
  <ion-button  [routerLink]="['/register']">Register</ion-button>
</ion-item>

</ion-col>

</ion-content>
