<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item>
      <ion-label>datum</ion-label>
      <ion-label>naručitelj</ion-label>
      <ion-label>građa</ion-label>
      <ion-label>udk</ion-label>
      <ion-label>odsjek</ion-label>
      <ion-label>knjižnica</ion-label>
      <ion-label>knjižnica inozemna</ion-label>
      <ion-label>dostupno</ion-label>
      <ion-label>napomena</ion-label>


    </ion-item>
  </ion-list>

  <ion-list>


    <ion-item *ngFor="let posudba of dobivenePosudbe" lines="none">
      <!-- <ion-icon slot="start"></ion-icon> -->
      <ion-label>{{ posudba.datum | date: 'd-M-yyyy' }}</ion-label>
      <!-- <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime> -->
      <ion-label>{{ posudba.narucitelj }}</ion-label>
      <ion-label>{{ posudba.naslov }}, {{ posudba.autor }}, {{ posudba.izdanje }} </ion-label>
      <ion-label>{{ posudba.udk }}</ion-label>
      <ion-label>{{ posudba.odsjek }}</ion-label>
      <ion-label>{{ posudba.knjiznica }}</ion-label>
      <ion-label>{{ posudba.knjiznicaInozemna }}</ion-label>
      <!-- <ion-label>{{ posudba.dostupno}}</ion-label> -->
      <ion-icon name="checkmark" [hidden]=!posudba.dostupno></ion-icon>
      <ion-icon name="close" [hidden]=posudba.dostupno></ion-icon>
      <!-- <ion-label>
      <ion-checkbox checked='posudba.dostupno'></ion-checkbox>
      </ion-label> -->
      
      <ion-label>{{ posudba.datumPrimitka | date: 'd-M-yyyy'}}</ion-label>
      <ion-label>{{ posudba.datumPovratka | date: 'd-M-yyyy' }}</ion-label>
      <ion-label>{{ posudba.oblik }}</ion-label>
      <ion-label>{{ posudba.napomena }}</ion-label>

    </ion-item>
  </ion-list>
  <ion-item>
    <!-- <ion-button (click)="log()">Naruči</ion-button> -->
  </ion-item>
</ion-content>